# Copia questo file in secrets.toml e compila i valori
# NON committare secrets.toml su GitHub!

[google_sheets]
spreadsheet_id = "ID_DEL_TUO_GOOGLE_SHEET"  # dalla URL del Sheet

[gcp_service_account]
type = "service_account"
project_id = "il-tuo-project-id"
private_key_id = "abc123..."
private_key = "-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n"
client_email = "affitti-brevi@il-tuo-project.iam.gserviceaccount.com"
client_id = "123456789"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "https://www.googleapis.com/robot/v1/metadata/x509/..."
universe_domain = "googleapis.com"
